.git/
*.log
*.tmp

### Eclipse ###
.metadata
bin/
tmp/
*.tmp
*.bak
.project
.settings
.buildpath

### NodeJs ###
node_modules/

### Composer ###
composer.phar
vendor/

### Config ###
config.ini
**/.env
**/.env.local
**/.env.remote
git/

# working on:
cloudbuild.yaml 